{% extends "base.html" %}

{% block content %}
<style>
    body {
      margin: 0;
      font-family: "Lato", sans-serif;
      list-style: none;
    }
    
    .sidebar {
      margin: 0;
      padding: 0;
      width: 200px;
      background-color: #f1f1f1;
      position: fixed;
      height: 100%;
      overflow: auto;
    }
    
    .sidebar a {
      display: block;
      color: black;
      padding: 16px;
      text-decoration: none;
    }
     
    .sidebar a.active {
      background-color: #04AA6D;
      color: white;
    }
    
    .sidebar a:hover:not(.active) {
      background-color: #555;
      color: white;
    }
    
    div.content {
      margin-left: 200px;
      padding: 1px 16px;
      height: 1000px;
    }
    
    @media screen and (max-width: 700px) {
      .sidebar {
        width: 100%;
        height: auto;
        position: relative;
      }
      .sidebar a {float: left;}
      div.content {margin-left: 0;}
    }
    
    
    /* @media screen and (max-width: 400px) {
      .sidebar a {
        text-align: center;
        float: none;
      }
    } */
.container {
  /* border: 2px solid #dedede; */
  /* background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 40px 0;
  margin-left: 20%; */
  margin-top: 40px;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container p.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
  margin-top: 40px;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}



</style>

{% include 'nav_bar.html'%}
{% if request.user.is_authenticated %}
<h5 class="alert alert-success text-center">Welcome To The Group Chat World</h5>
<div class="sidebar">
    <li>
        {% for user in users %}
        <a href="">{{user.email}}</a>
        {% endfor %}
    </li>
  </div>
<div class="container" style="margin-left: 230px;">
<div class="row">
<div class="col-md-12">
    {% for message in messages %}
    {% if not message.sender == request.user%}
    <div class="darker" >
        <!-- <img src="/w3images/bandmember.jpg" alt="Avatar" style="width:100%;"> -->
        <p>{{message.sender}}</p>
        <p>{{message.message}}  </p>
        <!-- <span class="time-right">{{message.created_at}}</span> -->
      </div>
    {% endif %}
      {% if message.sender == request.user %}
      <div class="darker">
        <!-- <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right" style="width:100%;"> -->
        <!-- <p class="right">{{message.sender}}</p> -->
        <p class="text-right">{{message.message}}</p>
        
      </div>
      {% endif %}
    {% endfor %}
</div>

<div class="col-md-12">
    <form action="{% url 'chat'%}" method="POST"> {% csrf_token %}
        <div class="col-md-6 col-sm-6 form-group">
            <label class="control-label">Message....</label>
            <input type="text" class="form-control" name="message" id="id_message" placeholder="Type Here...">
          </div>
          <button type="submit" class="btn btn-success mb-2" style="margin-left: 460px;">Submit</button>
    </form>
</div>
</div>
</div>

{% endif %}
{% endblock content %}